* {
    /* 计算元素的宽度和高度时，是否包含内边距和边框 */
    box-sizing: border-box;
}

body {
    background-color: #0095dd;
    /* 将一个元素设置为弹性容器 */
    display: flex;
    /* 指定弹性容器子元素的主轴方向：垂直方向 */
    flex-direction: column;
    /*  在主轴方向上的对齐方式 */
    justify-content: center;
    /* 在副轴方向上的对齐方式 */
    align-items: center;
    /* 可用字体 */
    font-family: Arial, Helvetica, sans-serif;
    /*  vh表示视口高度，也就是浏览器窗口可视区域的高度 
        100vh表示元素的最小高度等于视口高度，也就是占满整个屏幕
    */
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 45px;
    color: #fff;
}

canvas {
    background: #f0f0f0;
    display: block;
    border-radius: 5px;
}

.btn {
    /* 光标形状 */
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}
.btn:focus {
    /* outline: 0表示不显示任何轮廓 */
    outline: 0;
}
.btn:hover {
    background: #222;
}
.btn:active {
    transform: scale(0.98);
}

.rules-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    color: #fff;
    min-height: 100vh;
    width: 400px;
    padding: 20px;
    /*行高1.5倍*/
    line-height: 1.5;
    /*动画：向左移动400px*/
    transform: translateX(-400px);
    /*控制属性渐变*/
    transition: transform 1s ease-in-out;
}

.rules.show {
    /* 重新定位元素 */
    transform: translateX(0);
}
